/* goes with the local tool.js
 * deep selection to take precedence from sphinx 
 */
div.CodeMirror-lines div.CodeMirror-code pre.CodeMirror-line {
    border: unset;
    border-radius: unset;
    /* do NOT shrink down, this would ruin the computation of a
       decent default width for our samples
       if needed change the size upper in the tree
       */
    font-size: 1em;
    line-height: 1.1em;
    background-color: unset;
}

/* stolen from backend - outline horizontal rules */
hr.py-2.my-5.translate-y-2 {
  border-top-width: 15px;
}

.figure-outline {
  background-color: #f8f9fa;
  border-radius: 15px;
  border: 1px solid #dee2e6;
  padding: 10px;
}
