/* stolen from backend - outline horizontal rules */
hr.py-2.my-5.translate-y-2 {
  border-top-width: 15px;
}

.figure-outline {
  background-color: #f8f9fa;
  border-radius: 15px;
  border: 1px solid #dee2e6;
  padding: 10px;
}


/* goes with the local tool.js
 * deep selection to take precedence from sphinx
 */
div.CodeMirror-lines div.CodeMirror-code pre.CodeMirror-line {
    border: unset;
    border-radius: unset;
    /* do NOT shrink down, this would ruin the computation of a
       decent default width for our samples
       if needed change the size upper in the tree
       */
    font-size: 1em;
    line-height: 1.1em;
    background-color: unset;
}

/* add a separator between sources and output */
.tools-grid {
  column-gap: 10px;

  &>:nth-child(2),
  &>:nth-child(4) {
    padding-left: 10px;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #d4e8fc;
  }

}

/* the right-hand-side toc made more compact
   initially stolen from the git course
   not used for now though
   but useful for authoring
   mostly only 32 js lang overview and 33 builtin types
   would benefit from it...
*/
ul.text-sm.leading-6>li>a {
    /* --toc-font-size: 10px; */
    padding-top: 0;
    padding-bottom: 0;
    font-size: var(--toc-font-size);
    line-height: 1.4em;
    code {
        font-size: var(--toc-font-size);
    }
}
