:root {
    --bg-color: #e0e0e0;
    --text-color: #121212;

}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #121212;
        --text-color: #e0e0e0;
    }
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}